body
{
  font-family: 'Akaya Telivigala', cursive;
  background: white;
}

.header_div
  {
  background: grey;
  color: white; 
  }

  .header_div p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;
  }
  .main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
  }